
main {
    width: 100vh;
    display: flex;
    flex-direction: column;
}

.giphy__title { 
    padding: 6px;
    text-align: left;
}

#giphy__recent_searches > h5 {
    text-transform: uppercase;
}

.giphy__list_item > img {
    height: 300px;
    width: 50%;
}